/* HrPortal.css */
/* HrPortal.css */
.main-content {
  height: 90vh;
  width: 96vw;
  }
  .search-header {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .search-input, .search-select {
    flex-grow: 1;
  }
  
  .table-container {
    margin-top: 20px;
  }
  