/* HrPortal.css */
/* HrPortal.css */
.main-content {
  height: 90vh;
  width: 100vw;
  }
  .search-header {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .search-input, .search-select {
    flex-grow: 1;
    
  }
  
  .table-container {
    margin-top: 20px;
  }
  h2 {
    margin-left: 15px;
  }
  

  .buttonWrapper {
    width: 100vw;
    max-height: 30px;
    display: flex;
    align-items: right;
    justify-content: flex-end;
    margin-top: -50px;
    margin-bottom: 15px;
  }

.footerBottom {
  margin-top: auto;
  width: 100vw;
  position: absolute;
  float: center;
  height: 30px;
  color: rgb(230, 230, 230);
  text-align: center;
  padding-top: 14px;
  background-image: linear-gradient(to bottom right, #E31937, #000000);
}
