/* Login.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ff0000; */
    
}

.JOSHIE {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #E31937, #5236AB);
}

.reset-password-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-form {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 200px;
    gap: 20px; /* Creates space between form elements */
}
