/* Login.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ff0000; */
    
}

.MITCH {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #E31937, #5236AB);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes the container take up the full viewport height */
}

.login-form {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 440px;
    gap: 20px; /* Creates space between form elements */
}

img {
    margin-left: auto;
    margin-right: auto;
}

.login-form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.login-form-control input {
    display: inline-block;
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup {

    margin-top: 5px;
}

.signup hr{
    display: inline-block;
    width: 45%;
    border: 1px solid #ccc;
}
.signup p{
    display: inline-block;
    /* border: 1px solid red; */
    margin-top: -5px;
}
