.signup-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    width: 600px;
    height: 710px;
    gap: 20px; /* Creates space between form elements */
}
.JAYDEN {
    width: 100vw;
    height: 100vh; 
    background-image: linear-gradient(to bottom right, #E31937, #5236AB);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.JAY {
    display: flex;
    flex-direction: column;
    align-items: center;
    display:inline-block;
    margin-top: auto;
    margin-bottom: auto;
}
img {
    margin-left: auto;
    margin-right: auto;
}
/* LoginForm.css or Signup.css */
.form-control {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Adds space between form controls */
}

.form-control label {
    flex: 1;
    margin-right: -10px; /* Space between label and input/select */
}

.form-control input,
.form-control select {
    flex: 2; /* Allows input/select to take more space than label */
    padding: 8px 10px; /* Adds some padding inside inputs and selects for better text visibility */
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Aligns button to the right */
    margin-top: 30px; /* Adds some space above the button */
}

@media (max-width: 890px) {
    .signup-container {
        width: 380px;
        height: 620px;
    }
}
@media (max-width: 590px) {
    .signup-container {
        width: 279px;
        height: 620px;
    }
    .signup-container{
        display: block;
    }
    label {
        font-size: 13px;
    }
}

@media (max-width: 280px) {
    .signup-container {
        width: 240px;
        height: 620px;
    }
    .signup-container{
        display: block;
    }
    label {
        font-size: 10px;
    }
}